@media (min-width:1028px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: none none solid none;
        border-width: thin;
        font-size: 0.75vw;
        height: 8em;
        margin: 0em 2em 2em 2em;
        border-color: #2A5370;
    }

    header > img {
        display: flex;
        flex-direction: row;
        height: 80%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 2em;
    }

    #name {
        font-family: "Montserrat", sans-serif;
        color: #2A5370;
        background-image: none;
    }
    #name > h1 {
        font-size: 2em;
    }

    #name > h2 {
        font-weight: lighter;
        font-size: 1.5em;
    }

    #name > h3 {
        font-size: 0.75em;
        
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: lighter;
        font-size: 1.5em;
        list-style-type: none;
        margin-left: auto;
        border-style: none solid none none;
        border-width: thin;
        height: 100%;
        border-color: inherit;
    }

    /* nav > li {
        display: flex;
        margin: 0 1em 0 1em;
        align-items: center;
        justify-content: center;
        height: 100%;
    } */

    #calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 2em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 3em
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}
@media (max-width:1027px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid none solid none;
        border-width: thin;
        font-size: 0.5vw;
        height: 32em;
        margin: 2em;
    }

    header > img {
    display: flex;
    flex-direction: row;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 2em;
    }

    #name > h1 {
    font-family: "Montserrat", serif;
    font-size: 6em;
    color: #2A5370;
    }

    #name > h2 {
        font-family: "Montserrat", serif;
        font-size: 2.5em;
        color: #2A5370;
    }

    #name > h3 {
        font-family: "Montserrat", serif;
        font-size: 1em;
        color: #2A5370;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: medium;
        font-size: 3em;
        list-style-type: none;
        margin-left: auto;
        height: 100%;
    }

    /* nav > li {
        display: flex;
        margin: 0 1em 0 1em;
        align-items: center;
        justify-content: center;
        height: 100%;
    } */

    #calendar {
        display: none;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 8em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 2em;
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}
@media (max-width:1027px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid none solid none;
        border-width: thin;
        font-size: 0.5vw;
        height: 32em;
        margin: 2em;
    }

    header>img {
        display: flex;
        flex-direction: row;
        height: 80%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 2em;
    }

    #name>h1 {
        font-family: "Montserrat", serif;
        font-size: 6em;
        color: #2A5370;
    }

    #name>h2 {
        font-family: "Montserrat", serif;
        font-size: 2.5em;
        color: #2A5370;
    }

    #name>h3 {
        font-family: "Montserrat", serif;
        font-size: 1em;
        color: #2A5370;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: medium;
        font-size: 3em;
        list-style-type: none;
        margin-left: auto;
        height: 8em;
    }

    nav>li {
        margin: 1em;
    }

    #calendar {
        display: none;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 8em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 2em;
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
nav > li {
    height: 100%;
    width: 6em;
    transition: 0.1s;
}
nav > li:hover {
    background-color: #2A5370;
}
nav > li:hover a {
    color: #fff;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #2A5370;
    text-decoration: none;
}

li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}