/* usually for mobile support but whatever */

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: "Jost", sans-serif;
    background-color: #2A5370;
    
}

@media (min-width:1028px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: none none solid none;
        border-width: thin;
        font-size: 0.75vw;
        height: 10em;
        margin-bottom: 2em;
        border-color: #f0f0f0;
        background-color: rgb(42, 83, 112, 0.9  );
    }

    header > img {
        display: flex;
        flex-direction: row;
        height: 80%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 2em;
    }

    #name {
        font-family: "Montserrat", sans-serif;
        color: #f0f0f0;
    }
    #name > h1 {
        font-size: 3em;
    }

    #name > h2 {
        font-weight: lighter;
        font-size: 2em;
    }

    #name > h3 {
        font-size: 0.75em;
        
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: lighter;
        font-size: 2em;
        list-style-type: none;
        margin-left: auto;
        border-style: none solid none none;
        border-width: thin;
        height: 4em;
        border-color: inherit;
    }

    nav > li {
        margin: 1em;
    }

    #calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #f0f0f0;
        margin: 2em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 3em
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}
@media (max-width:1027px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid none solid none;
        border-width: thin;
        font-size: 0.5vw;
        height: 32em;
        margin: 2em;
    }

    header > img {
    display: flex;
    flex-direction: row;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 2em;
    }

    #name > h1 {
    font-family: "Montserrat", serif;
    font-size: 6em;
    color: #2A5370;
    }

    #name > h2 {
        font-family: "Montserrat", serif;
        font-size: 2.5em;
        color: #2A5370;
    }

    #name > h3 {
        font-family: "Montserrat", serif;
        font-size: 1em;
        color: #2A5370;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: medium;
        font-size: 3em;
        list-style-type: none;
        margin-left: auto;
        height: 8em;
    }

    nav > li {
        margin: 1em;
    }

    #calendar {
        display: none;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 8em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 2em;
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}

div {
    display: flex;
    flex-direction: row;
}

#firstlook {
    background-image: url("../images/ncshsmainbldg.png");
    background-size: cover;    
}

#tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Garamond";
    color: #2A5370;
}

#tagline > h1 {
    margin: 85px auto auto auto;
    font-size: 75px;
}

#tagline > h2 {
    margin-bottom: 400px;
    font-size: 32px;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #f0f0f0;
}

#info > p {
    width: 200px;
}

#about-us {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content:  center;
    margin-bottom: 24px;
    color: #f0f0f0
}

#name {
    display: flex;
    flex-direction: column;
}

a, a:link, a:visited, a:hover, a:active {
    color: #f0f0f0;
    text-decoration: none;
}