@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Garamond";
    src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Garamond";
    src: url(fonts/EBGaramond-Bold.ttf);
    font-weight: bold;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main section {
    scroll-snap-align: start;
}

body {
    font-family: "Jost", sans-serif;
    background-color: #f0f0f0;
}

@media (min-width:1028px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: none none solid none;
        border-width: thin;
        font-size: 0.75vw;
        height: 10em;
        margin: 0em 2em 2em 2em;
        border-color: #2A5370;
    }

    header > img {
        display: flex;
        flex-direction: row;
        height: 80%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 2em;
    }

    #name {
        font-family: "Montserrat", sans-serif;
        color: #2A5370;
        background-image: none;
    }
    #name > h1 {
        font-size: 3em;
    }

    #name > h2 {
        font-weight: lighter;
        font-size: 2em;
    }

    #name > h3 {
        font-size: 0.75em;
        
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: lighter;
        font-size: 2em;
        list-style-type: none;
        margin-left: auto;
        border-style: none solid none none;
        border-width: thin;
        height: 4em;
        border-color: inherit;
    }

    nav > li {
        margin: 1em;
    }

    #calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 2em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 3em
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}

@media (max-width:1027px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid none solid none;
        border-width: thin;
        font-size: 0.5vw;
        height: 32em;
        margin: 2em;
    }

    header > img {
    display: flex;
    flex-direction: row;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 2em;
    }

    #name > h1 {
    font-family: "Montserrat", serif;
    font-size: 6em;
    color: #2A5370;
    }

    #name > h2 {
        font-family: "Montserrat", serif;
        font-size: 2.5em;
        color: #2A5370;
    }

    #name > h3 {
        font-family: "Montserrat", serif;
        font-size: 1em;
        color: #2A5370;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: medium;
        font-size: 3em;
        list-style-type: none;
        margin-left: auto;
        height: 8em;
    }

    nav > li {
        margin: 1em;
    }

    #calendar {
        display: none;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 8em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 2em;
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}

div {
    display: flex;
    flex-direction: row;
}

#tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Garamond";
    color: #2A5370;    
}

#home {
    background-image: url("../images/ncshsmainbldg.png");
    background-size: cover;   
}

#tagline > h1 {
    margin: 85px auto auto auto;
    font-size: 75px;
}

#tagline > h2 {
    font-family: "Jost";
    margin-bottom: 400px;
    font-size: 32px;
    font-weight: lighter;
}

#name {
    display: flex;
    flex-direction: column;
}

a, a:link, a:visited, a:hover, a:active {
    color: #2A5370;
    text-decoration: none;
}

aside {
    display: none;
}

footer {
    display: flex;
}

#about {
    background-color: #f0f0f0;
    color:#2A5370;
    padding: 2.5%;
}

#about > h1 {
    display: flex;
    border-top: solid;
    border-width: thin;
    justify-content:  center;
    margin-bottom: 24px;
    color: #2A5370;
    margin: 0px 2.5% 0px 2.5%;
    padding-top: 1em;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    color: #2A5370;
    border-width: thin;
    margin: 2.5%;
}

.info > div {
    width: 200px;
    margin: 2em 8em 2em 8em;
}

.column {
    display: flex;
    flex-direction: column;
}

#staff {
    background: #2A5370;
}

#awards {
    background: #f0f0f0;
}