@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Garamond";
    src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Garamond";
    src: url(fonts/EBGaramond-Bold.ttf);
    font-weight: bold;
}

:root {
    --text: #f0f0f0;
    --background: #0b315a;
    --primary: #a4bed9;
    --secondary: #2b4f76;
    --accent: #4e89c9;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main section {
    scroll-snap-align: start;
}

body {
    font-family: "Jost", sans-serif;
    background-color: #f0f0f0;
}

@media (min-width:1028px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: none none solid none;
        border-width: thin;
        font-size: 0.75vw;
        height: 10em;
        margin: 0em 2em 2em 2em;
        border-color: #2A5370;
    }

    header > img {
        display: flex;
        flex-direction: row;
        height: 80%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin: 2em;
    }

    #name {
        font-family: "Montserrat", sans-serif;
        color: #2A5370;
        background-image: none;
    }
    #name > h1 {
        font-size: 3em;
    }

    #name > h2 {
        font-weight: lighter;
        font-size: 2em;
    }

    #name > h3 {
        font-size: 0.75em;
        
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: lighter;
        font-size: 2em;
        list-style-type: none;
        margin-left: auto;
        border-style: none solid none none;
        border-width: thin;
        height: 4em;
        border-color: inherit;
    }

    nav > li {
        margin: 1em;
    }

    #calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 2em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 3em
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }

}

@media (max-width:1027px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-style: solid none solid none;
        border-width: thin;
        font-size: 0.5vw;
        height: 32em;
        margin: 2em;
    }
    
    header > img {
    display: flex;
    flex-direction: row;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 2em;
    }

    #name > h1 {
    font-family: "Montserrat", serif;
    font-size: 6em;
    color: #2A5370;
    }

    #name > h2 {
        font-family: "Montserrat", serif;
        font-size: 2.5em;
        color: #2A5370;
    }

    #name > h3 {
        font-family: "Montserrat", serif;
        font-size: 1em;
        color: #2A5370;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Montserrat";
        font-weight: medium;
        font-size: 3em;
        list-style-type: none;
        margin-left: auto;
        height: 8em;
    }

    nav > li {
        margin: 1em;
    }

    #calendar {
        display: none;
        flex-direction: column;
        align-items: center;
        color: #2A5370;
        margin: 8em;
    }

    #date {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 2em;
    }

    #schoolyr {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 1em;
    }
}

div {
    display: flex;
    flex-direction: row;
}

#tagline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Garamond";
    color: #2A5370;    
}

#home {
    background-image: url("../images/ncshsmainbldg.png");
    background-size: cover;   
    height: 100vh;
}

#tagline > h1 {
    margin: 85px auto auto auto;
    font-size: 75px;
}

#tagline > h2 {
    font-family: "Jost";
    margin-bottom: 400px;
    font-size: 32px;
    font-weight: lighter;
}

#name {
    display: flex;
    flex-direction: column;
}

a, a:link, a:visited, a:hover, a:active {
    color: #2A5370;
    text-decoration: none;
}

aside {
    display: none;
}

footer {
    display: flex;
    height: auto;
}

#about {
    background-color: #f0f0f0;
    color:#2A5370;
    padding: 2.5%;
    height: 100vh;
}

#about > h1 {
    display: flex;
    border-bottom: solid;
    border-width: thin;
    justify-content:  center;
    margin-bottom: 24px;
    color: #2A5370;
    margin: 0px 2.5% 0px 2.5%;
    padding-bottom: 2vh;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;
    color: #2A5370;
    border-width: thin;
    margin: 2.5%;
}

.column {
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 0em 4em 0em 4em;
}

.column > img {
    margin-bottom: 20px;
}

#clubs {
    background-color: var(--background);
    background-size: cover;
    background-repeat: no-repeat;
    color:#f0f0f0;
    height: 100vh;
    width: 100vw;
    font-family: "Montserrat";
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
}

#clubs > h1 {
    display: flex;
    justify-content: center;
    border-bottom: solid;
    margin: 0px 4vw 0px 4vw;
    padding: 0px 0px 2vh 0px;
}

#club-group {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-grow: 1;
}

.clubs {
    display: flex;
    flex-direction: row;
    color: var(--background);
    background-color: #f0f0f0;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    width: 38vw;
    height: 32vh;
    
}

.clubs > div {
    display: flex;
    flex-direction: column;
}

.clubs > div > h2{
    font-size: xx-large;
    margin: 0px 0px 1vh 3.5vh;
}

.clubs > div > p {
    font-family: "Jost";
    text-wrap: wrap;
    text-align: left;
    margin: 0px 3.5vh 0px 3.5vh;
}

.club-logo {
    height: 12vw;
    width: 12vw;
    object-fit: contain;
    padding: 0.5vh;
    margin-left: 3.5vh;
    border-radius: 100%;
    border: solid var(--background);  
    aspect-ratio: 1/1;
}

#awards {
    background: #f0f0f0;
}

#matrix {
    padding: 16px;
    border-color: #f0f0f0;
    border: solid;
    border-radius: 41px;
}

#eureka {
    padding: 16px;
    border-color: #f0f0f0;
    border: solid;
    border-radius: 41px;
}

#concilium {
    padding: 16px;
    border-color: #f0f0f0;
    border: solid;
    border-radius: 41px;
}

#matematika {   
    padding: 16px;
    border-color: #f0f0f0;
    border: solid;
    border-radius: 41px;
}