@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

:root {
    --text: #0f170d;
    --background: #f4faf3;
    --primary: #779a70;
    --secondary: #a7b6d2;
    --accent: #4185f8;
    --head-font: "Montserrat";
    --text-font: "Jost";
    --text-box: rgba(167, 182, 210, 0.4);
    --head-text-box: rgba(87, 201, 56, 0.4);
    --transparent: rgba(0,0,0,0)
}

html {
-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */

}
html::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}


#landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing-page-message {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: var(--head-font);
    color: var(--text);
    font-size: 32px;
}

h2 {
    color: var(--text);
    font-family: var(--text-font);
    font-size: 16px;
}

#down-arrow {
    color: #ffffff;
}

#goodinternet {
    height: 102vh;
    display: flex;
    flex-direction: column;    
}

#plot-twist-message-box {
    display: flex;
    background-color: var(--primary);
    height: 8vw;
    justify-content: center;
    margin-bottom: 2vw;
}

#plot-twist-message {
    background-color: var(--transparent);
    align-self:center;
    font-size: 4vh;
    font-family: var(--head-font);
    
}

#content {
    display: flex;
    flex-direction: column;
}

#info {
    display:flex;
    flex-direction: row;
    margin: 2vw 8vw 0px 8vw;
    background:var(--text-box);
    padding: 2vh;
    border-radius: calc(20px + 2vh);
    width: calc(320px + 10px + 2vw + 40vh);
}

#info > img {
    border-radius: 20px;
}

#info-text {
    padding: 0px 2vw;
    font-size: 20px;
    text-wrap: wrap;
    font-family: var(--text-font);
    background:rgba(80, 100, 80, 0);
}

#happystuff {
    display:flex;
    flex-direction: row;
    margin: 2vw 8vw 0px 8vw;
    align-items: center;
}

#coolstuff {
    font-size: 16px;
    text-wrap: wrap;
    margin: 10px 10px 10px 0px;
    padding: 20px;
    background-color: var(--text-box);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 320px;
    height: 40vh;
}

#coolstuff > span {
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2vh;
}

#coolstuff > span > img {
    background-color: rgba(0,0,0,0);
    margin-right: 8px;
    width: 2em;
    aspect-ratio: 1/1;
}

.cats {
    margin-left: 2vw;
    border-radius: 20px;
    width: 40vh;
    height: 40vh;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    font-family: var(--text-font);
    color: var(--text);
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

#eyebleach {
    font-family: var(--text-font);
    color: var(--accent);
    text-decoration: none;
}

#eyebleach:hover {
    text-decoration: underline;
}

