@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text: #0f170d;
    --background: #f4faf3;
    --primary: #57c938;
    --secondary: #94e97d;
    --accent: #68ef43;
    --head-font: "Montserrat";
    --text-font: "Jost";
}

#landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

h1 {
    align-self: center;
    justify-self: center;
    text-align: center;
    font-family: var(--head-font);
    color: var(--text);
    font-size: 2vw;
}

h2 {
    color: var(--text);
    font-family: var(--text-font);
    font-size: 1vw;
}

#down-arrow {
    LUCAS ANIMATE THIS PLEASE
    LUCAS ANIMATE THIS PLEASE
    LUCAS ANIMATE THIS PLEASE
    LUCAS ANIMATE THIS PLEASE
    LUCAS ANIMATE THIS PLEASE
    LUCAS ANIMATE THIS PLEASE
    
}