@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url(fonts/Montserrat-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-Medium.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Garamond";
    src: url(fonts/EBGaramond-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Garamond";
    src: url(fonts/EBGaramond-Bold.ttf);
    font-weight: bold;
}

:root {
    --text: #f0f0f0;
    --background: #0b315a;
    --primary: #a4bed9;
    --secondary: #2b4f76;
    --accent: #4e89c9;
}